<div class="card-background-page" *ngIf="!btConnected">
    <ion-grid>
      <ion-row no-padding no-margin>
      
      <ion-col col-8 no-margin no-padding>
        <ion-card class="default-height" (click)="openPage('config')">
          <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
          <div class="card-subtitle">  <i class="fa fa-cutlery fa-3x" color="secondary"></i> </div>
        </ion-card>
      </ion-col>

      <ion-col col-4 no-margin no-padding>
          <ion-card class="default-height">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png"> 
            <div class="card-subtitle"><i class="fa fa-gamepad fa-3x" color="ygold"></i></div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-12 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('blocks')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-code fa-3x" color="light"></i></div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-5 no-margin no-padding>
          <ion-card class="default-height">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-comments-o fa-3x" color="teal"></i></div>
          </ion-card>
        </ion-col>

        <ion-col col-7 no-margin no-padding>
          <ion-card class="default-height">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><ion-icon name="ios-shirt" class="fa-3x" color="pink"></ion-icon></div>
          </ion-card>
        </ion-col>

        <ion-col col-12 no-margin no-padding>
          <ion-card class="default-height">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-hand-rock-o fa-3x" color="dark"></i> <i class="fa fa-hand-paper-o fa-3x"></i> <i class="fa fa-hand-scissors-o fa-3x" color="ygold"></i></div>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>