<ion-content class="card-background-page" *ngIf="((btStatus && btConnected) || menuOptions)">
  <!--*ngIf="(btStatus && btConnected)"-->
  <ion-grid>
    <ion-row no-margin no-padding>
      <ion-col col-12 no-margin no-padding>
        <ion-card class="mission-height" (click)="openPage('missions')">
          <img src="assets/imgs/iconeMissoes.jpg">
          <div class="card-title"> Missões </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="menuOptions == true">
      <ion-row no-padding no-margin>

        <ion-col col-8 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('foods')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"> <i class="fa fa-cutlery fa-3x"></i> </div>
          </ion-card>
        </ion-col>

        <ion-col col-4 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('virtual-controller')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-gamepad fa-3x"></i></div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-12 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('blocks')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-code fa-3x"></i></div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row no-padding no-margin>
        <ion-col col-5 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('conversation')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-comments-o fa-3x" color="teal"></i></div>
          </ion-card>
        </ion-col>

        <ion-col col-7 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('screens')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle">
              <ion-icon name="ios-shirt" class="fa-3x"></ion-icon>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row margin-bottom>
        <ion-col col-12 no-margin no-padding>
          <ion-card class="default-height" (click)="openPage('jokenpo')">
            <img src="http://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
            <div class="card-subtitle"><i class="fa fa-hand-rock-o fa-3x"></i> <i class="fa fa-hand-paper-o fa-3x"></i> <i class="fa fa-hand-scissors-o fa-3x"
                color="ygold"></i></div>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>