home-menu {
    .card-background-page {
        
    ion-card {
        position: relative;
        text-align: center;
        border:1px #000 solid;
        box-shadow: 1px 1px 5px #000;
    }

    ion-card.default-height{
        height: 75px;
    }

    ion-card.mission-height{
        height: 95px;
    }

    ion-card img{
        height: 100%;
    }

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 25%;
        width: 100%;
    }

    }
}
