page-mission02 {
    ion-card img{
        height: 70px;
        width: 100%;
    }

    img#pocaoResult{
        height: 85px;
        width: 100%;
    }
    ion-item span{
        font-size: 1.2rem;
    }
}
