page-screen-change {
    ion-card img{
        height: 170px;
        max-height: 200px;
    }
   
    ion-scroll{
        min-height: 333px; 
        height: auto;
        .scroll-content {
            padding: 0px !important;
        }    
    }

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    ion-card{
        display: inline-block;
        width: 260px !important;
    }

    .transparent{
        opacity: 0.85;
    }
}
