page-home {

    ion-icon.bigicon{
        font-size: 550%;
    }

    #tutorial1{
        position:fixed;
        top:170px;
    }

    #tutorial2{
        position: fixed;
        bottom:10%;
    }

}
