<!--
  Generated template for the Config page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Configuração</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <ion-list-header><span color="light">Configurações</span></ion-list-header>
    <p *ngIf="btStatus && !btConnected" color="danger">Bluetooth ligado, mas não está conectado!</p>

  <ion-item *ngIf="isAndroid">
    <ion-label> <ion-icon name="bluetooth"></ion-icon> &nbsp; Bluetooth</ion-label>
    <ion-toggle *ngIf="(btDevice.name == null || !btStatus)" color="secondary" [checked]="btStatus" [disabled]="btStatus" (ionChange)="toggleChange($event)" ></ion-toggle>
    <ion-note *ngIf="(btDevice.name != null && btStatus)" item-right>{{btDevice.name}}</ion-note>  
  </ion-item>

  <ion-item *ngIf="!isAndroid">
    <ion-icon name="bluetooth" item-left></ion-icon>
    Bluetooth
    <ion-note item-right color="danger" *ngIf="!btStatus">Desligado</ion-note>
    <ion-note item-right color="secondary" *ngIf="btStatus">Ligado</ion-note>
  </ion-item>


  <ion-item *ngIf="btStatus && btDevices.length <= 0">
    <ion-icon name="construct"></ion-icon>
       Dispositivo 
      <button ion-button item-right color="ygold" *ngIf="!searching" [disabled]="searching" (click)="searchDevices()">
        <ion-icon name="search"></ion-icon>&nbsp; Buscar
      </button> 
      <span item-right *ngIf="searching" color="light"><ion-spinner color="light"></ion-spinner>&nbsp;</span>
  </ion-item>

  <ion-item *ngIf="btStatus && btDevices.length > 0">
    <ion-label color="light"><ion-icon name="construct"></ion-icon>&nbsp; Dispositivo</ion-label>
    <ion-select [(ngModel)]="btDevice" (ionChange)="saveSelectedAndroid($event)" [cancelText]="Cancelar">
      <ion-option *ngFor="let device of btDevices" [value]="device">{{device.name}}</ion-option>
    </ion-select>
  </ion-item>

</ion-list>
</ion-content>
