<!--
  Generated template for the Foods page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Cozinha do Guimo</ion-title>
    <ion-buttons end>
      <button ion-button color="light">
        <i class="fa fa-cutlery fa-lg"></i> &nbsp; {{foodStatus}}%
      </button>
      <button ion-button color="pink">
        <i class="fa fa-heart fa-lg"></i> &nbsp; {{healthStatus}}%
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
    <ion-scroll scrollX="true">
      <ion-card class="transparent" no-padding *ngFor="let food of foods; let i = index;">
        <ion-item color="light">
          <h2 text-capitalize text-center>{{food.name}}</h2>
        </ion-item>

        <img src="assets/imgs/{{food.img}}" alt="{{food.name}}">
        <ion-row>
          <ion-col>
            <button ion-button icon-left full color="teal" (click)="giveFood(food.id)">
              <ion-icon name="restaurant"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <button ion-button icon-left outline full color="secondary" *ngIf="(food.status == 0 || food.status == -1)" (click)="like(food.id,i)">
              <ion-icon name="thumbs-up"></ion-icon>
            </button>
            <button ion-button icon-left full color="secondary" *ngIf="(food.status == 1)" (click)="resetStatus(food.id,i)">
              <ion-icon name="thumbs-up"></ion-icon>  
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button icon-left outline full color="danger" *ngIf="(food.status == 0 || food.status == 1)" (click)="unlike(food.id,i)">
              <ion-icon name="thumbs-down"></ion-icon>
            </button>
            <button ion-button icon-left full color="danger" *ngIf="(food.status == -1)" (click)="resetStatus(food.id,i)">
              <ion-icon name="thumbs-down"></ion-icon>  
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-scroll>
</ion-content>
