page-foods {
    ion-card img{
        height: 110px;
        max-height: 200px;
    }

    ion-content{
        background: url('./../assets/imgs/cozinha.jpg') no-repeat center center fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: 100% 100%;
        min-width: 100%;
        min-height: 100%;
    }
   
    ion-scroll{
        min-height: 275px; 
        height: auto;
        .scroll-content {
            padding: 0px !important;
        }    
    }

    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    ion-card{
        display: inline-block;
        width: 250px !important;
    }

    .transparent{
        opacity: 0.85;
    }

    .foodsToastLike{
        background: green;
        text-align: center;
    }
}
