page-blocks {
    $text-color: #000;

    ion-grid{
        min-height: 220px;
        height: 100%;
    }
    .blocks{
        min-height:320px; 
        height:100vh !important; 
        min-width: 550px; 
        width:100%;
        margin:0;
        padding:0;
    }
    
}
